<suite name="All Test Suite">

    <test name="Pet Tests">
        <classes>
            <class name="com.freecrm.automation.apiTests.PetApiTests">
                <methods>
                    <include name="testCreatePet"/>
                    <include name="testGetPetById"/>
                    <include name="testFindPetByStatus"/>
                    <include name="testUpdatePet"/>
                    <include name="testDeletePet"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Store Tests">
        <classes>
            <class name="com.freecrm.automation.apiTests.StoreApiTests">
                <methods>
                    <include name="getInventory"/>
                    <include name="placeOrder"/>
                    <include name="getOrderById"/>
                    <include name="deleteOrder"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="User Tests">
        <classes>
            <class name="com.freecrm.automation.apiTests.UserSnehashisApiTests">
                <methods>
                    <include name="createUser"/>
                    <include name="testGetUserByUsername"/>
                    <include name="updateUser"/>
                    <include name="deleteUser"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>